<h4 style="text-align:center">User Profile Detail</h4>
<div class="card">
  <img src="{{user.image}}" alt="John" style="width:100%">
  <h4>{{user.displayName}}</h4>
  <p><a href="/" type="button" class="btn btn-success">Home</a></p>
  <br>
</div>